
%article
  = content_tag :h1, @post.title
  - tags = @post.tag_array.map { |tag| content_tag(:a, tag, class: 'tag', href: "/tag/#{tag}") }.join(', ').html_safe
  %div.meta
    =tags
  = Date.strptime(@post.post_time.to_s, '%s').strftime('%Y-%m-%d')
  = content_tag :div, @post.content_display.html_safe, class: 'content'

  = tags


%div#social-buttons
  %g:plusone{:size => "small"}
  :javascript
    window.___gcfg = {lang: 'ru'};
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  %a{href: "http://twitter.com/share", class: "twitter-share-button",
    "data-count" => "horizontal", "data-via" => "Stammru", "data-lang" => "ru"}
    Tweet
  %iframe{src: "http://www.facebook.com/plugins/like.php?href=#{article_path(@post.url)}&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21",
    scrolling: "no", frameborder: "0", style: "border:none; overflow:hidden; width:110px; height:21px;",
    allowTransparency: "true"}
  %script{type: "text/javascript",
    src: "http://platform.twitter.com/widgets.js"}


%h2= t(:comments)

= render 'comments'

%h2
  %a{name: "add_comment"}
  = t(:add_comment) + ":"

= form_for(@comment, url: article_path(@post.url) + '#add_comment') do |f|
  - if @comment.errors.any?
    %div#error_explanation
      Возникли ошибки
      %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg
  %div.field
    = f.label :author
    = f.text_field :author
  %div.field
    = f.label :email
    = f.text_field :email
  %div.field
    = f.label :url
    = f.text_field :url
  %div.field
    = f.label :content
    = f.text_area :content, size: '10x20'
  %div.field
    = recaptcha_tags(display: {theme: 'clean'} )
  %div.actions
    = f.submit t(:send)