<% title @post.title %>
<article>
<%= content_tag :h1, @post.title %>
<div class="meta"><%= @post.tag_array.map { |tag|
    content_tag(:a, tag, class: 'tag', href: "/tag/#{tag}")
    }.join(', ').html_safe %>
</div>
<%= Date.strptime(@post.post_time.to_s, '%s').strftime('%Y-%m-%d') %>
<%= content_tag :div, @post.content_display.html_safe, class: 'content' %>

<%= @post.tags.map { |tag| content_tag(:a, tag.name,
          class: 'tags', href: "/tag/#{tag.name}") }
    .join(', ').html_safe %>
</article>
