%h1= t('listing_comments')

%table.table
  %tr
    %th №
    %th= Comment.human_attribute_name(:author)
    %th= Comment.human_attribute_name(:content)
    %th= Comment.human_attribute_name(:status)
    %th= Comment.human_attribute_name(:created_at)
    %th
  - @comments.each do |comment|
    %tr
      %td= link_to comment.id, edit_admin_comment_path(comment)
      %td
        = comment.author
        %br
        = comment.email
        %br
        = comment.ip
      %td= raw comment.content_display
      %td
        = t(comment.get_status.to_s)
        - if comment.get_status == :pending
          %br
          = link_to t('mark_as_spam'), spam_admin_comment_path(comment), method: :put
          = link_to t('approve'), approve_admin_comment_path(comment), method: :put
      %td= comment.created_at.strftime('%Y-%m-%d')
      %td= link_to 'x', admin_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }

      -#%td <a href="#" data-spam data-id="#{comment.id}">spam</a>

%br

%p= paginate @comments

= link_to 'New Comment', new_admin_comment_path
