- if flash[:alert]
    %p.error= flash[:alert]
= form_tag do
    = label_tag :name, t(:name)
    = text_field_tag :name, params[:name]

    = label_tag :password, t(:password)
    = password_field_tag :password, params[:password]

    = submit_tag t(:login)